---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"739-eo/4jD2NqfBxm2SIohHt8556zz8"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":75861,"name":"Fraud","description":null,"archived":true},{"id":75868,"name":"Cell
        Phone","description":"Transactions related to cell phone usage","archived":false},{"id":75858,"name":"Hydro","description":null,"archived":false},{"id":75859,"name":"Utilities","description":null,"archived":false},{"id":75860,"name":"Doctor","description":null,"archived":false},{"id":75863,"name":"Water
        Heater","description":null,"archived":false},{"id":75864,"name":"Condo Fees","description":null,"archived":false},{"id":75865,"name":"Mortgage","des[...]
