---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"142-yR1LtBghes3esfH0vIUkPQAZgWU"
    body:
      encoding: UTF-8
      string: '{"assets":[{"id":92657,"type_name":"cash","subtype_name":"physical
        cash","name":"Infinite Cash","display_name":"Infinite Cash","balance":"12345.6700","balance_as_of":"2024-01-27T17:49:18.000Z","closed_on":null,"currency":"cad","institution_name":null,"exclude_transactions":false,"created_at":"2024-01-26T20:07:36.583Z"}]}'
  recorded_at: Sat, 27 Jan 2024 17:49:22 GMT
recorded_with: VCR 6.2.0
