---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4eb-/DXd/M7sJsd0jDBbGh+atAaHtMs"
    body:
      encoding: ASCII-8BIT
      string: '{"assets":[{"id":114716,"type_name":"cash","subtype_name":null,"name":"Create
        Asset Test","display_name":null,"balance":"99.9900","to_base":99.99,"balance_as_of":"2024-05-13T14:22:07.438Z","closed_on":null,"currency":"cad","institution_name":null,"exclude_transactions":false,"created_at":"2024-05-13T14:21:33.450Z"},{"id":92657,"type_name":"cash","subtype_name":"physical
        cash","name":"Infinite Cash","display_name":"Infinite Cash","balance":"1022343.6700","to_base":1022343.67,"balance_as_of":"2024-01-28T18:26:44.583Z","closed_on":null,"currency":"cad","institution_name":null,"exclude_transactions":false,"created_at":"2024-01-26T20:07:36.583Z"},{"id":159628,"type_name":"cash","subtype_name":null,"name":"Create
        Asset Test","display_name":null,"balance":"10.0000","to_base":10,"balance_as_of":"2025-03-23T21:51:09.780Z","closed_on":null,"currency":"cad","institution_name":null,"exclude_transactions":false,"created_at":"2025-03-23T21:51:09.781Z"},{"id":93746,"type_name":"cash","subtype_name":null,"name":"Create
        Asset Test","display_name":null,"balance":"99.9900","to_base":99.99,"balance_as_of":"2024-02-01T19:19:05.771Z","closed_on":null,"currency":"cad","institution_name":null,"exclude_transactions":false,"created_at":"2024-02-01T19:13:35.715Z"}]}'
  recorded_at: Sun, 23 Mar 2025 21:51:09 GMT
recorded_with: VCR 6.3.1
