---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/assets
    body:
      encoding: UTF-8
      string: '{"type_name":"cash","name":"Create Asset Test","balance":"10.00","subtype_name":null,"display_name":null,"balance_as_of":null,"currency":null,"institution_name":null,"closed_on":null,"exclude_transactions":null}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"134-9XxXBl1P7PjjgbXD2o5AwnGFCfw"
    body:
      encoding: UTF-8
      string: '{"id":159628,"type_name":"depository","subtype_name":null,"name":"Create
        Asset Test","display_name":null,"balance":"10.0000","to_base":10,"balance_as_of":"2025-03-23T21:51:09.780Z","closed_on":null,"created_at":"2025-03-23T21:51:09.781Z","currency":"cad","institution_name":null,"exclude_transactions":false}'
  recorded_at: Sun, 23 Mar 2025 21:51:09 GMT
recorded_with: VCR 6.3.1
