---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/assets
    body:
      encoding: UTF-8
      string: '{"type_name":"cash","name":"Create Asset Test","balance":"10.00","subtype_name":null,"display_name":null,"balance_as_of":null,"currency":null,"institution_name":null,"closed_on":null,"exclude_transactions":null}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"126-Hkpdff51Y9fahx2W5K2OnmlxQfs"
    body:
      encoding: UTF-8
      string: '{"id":93746,"type_name":"depository","subtype_name":null,"name":"Create
        Asset Test","display_name":null,"balance":"10.0000","balance_as_of":"2024-02-01T19:13:35.714Z","closed_on":null,"created_at":"2024-02-01T19:13:35.715Z","currency":"cad","institution_name":null,"exclude_transactions":false}'
  recorded_at: Thu, 01 Feb 2024 19:13:35 GMT
recorded_with: VCR 6.2.0
