---
http_interactions:
- request:
    method: put
    uri: https://dev.lunchmoney.app/v1/assets/93746
    body:
      encoding: UTF-8
      string: '{"type_name":null,"name":null,"balance":"99.99","subtype_name":null,"display_name":null,"balance_as_of":null,"currency":null,"institution_name":null,"closed_on":null,"exclude_transactions":null}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"130-PEuJbaizZ74JK9c3je6HJGWOUhY"
    body:
      encoding: UTF-8
      string: '{"id":93746,"type_name":"cash","subtype_name":null,"name":"Create Asset
        Test","display_name":null,"balance":"99.9900","to_base":99.99,"balance_as_of":"2025-03-23T21:55:02.838Z","closed_on":null,"currency":"cad","institution_name":null,"exclude_transactions":false,"created_at":"2024-02-01T19:13:35.715Z"}'
  recorded_at: Sun, 23 Mar 2025 21:55:02 GMT
recorded_with: VCR 6.3.1
