---
http_interactions:
- request:
    method: put
    uri: https://dev.lunchmoney.app/v1/assets/93746
    body:
      encoding: UTF-8
      string: '{"type_name":null,"name":null,"balance":"99.99","subtype_name":null,"display_name":null,"balance_as_of":null,"currency":null,"institution_name":null,"closed_on":null,"exclude_transactions":null}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"120-WsKdH6hsY8FVR5eES+WXWiMZRb0"
    body:
      encoding: UTF-8
      string: '{"id":93746,"type_name":"cash","subtype_name":null,"name":"Create Asset
        Test","display_name":null,"balance":"99.9900","balance_as_of":"2024-02-01T19:19:05.771Z","closed_on":null,"currency":"cad","institution_name":null,"exclude_transactions":false,"created_at":"2024-02-01T19:13:35.715Z"}'
  recorded_at: Thu, 01 Feb 2024 19:19:05 GMT
recorded_with: VCR 6.2.0
