---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/crypto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"112-TUGztOWcT3kod205gtqeVutZyjw"
    body:
      encoding: UTF-8
      string: '{"crypto":[{"id":7638,"source":"manual","created_at":"2024-01-27T01:45:52.493Z","name":"Bitcoin","display_name":null,"balance":"2.000000000000000000","balance_as_of":"2025-03-23T21:30:00.692Z","to_base":245171.17,"currency":"BTC","status":"active","institution_name":null}]}'
  recorded_at: Sun, 23 Mar 2025 21:44:45 GMT
recorded_with: VCR 6.3.1
