---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/crypto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fe-VyxYqtWHqNckX0s0a0rVtu6ZGt0"
    body:
      encoding: UTF-8
      string: '{"crypto":[{"id":7638,"source":"manual","created_at":"2024-01-27T01:45:52.493Z","name":"Bitcoin","display_name":null,"balance":"1.000000000000000000","balance_as_of":"2024-01-27T04:05:02.937Z","currency":"BTC","status":"active","institution_name":null}]}'
  recorded_at: Sat, 27 Jan 2024 04:09:16 GMT
recorded_with: VCR 6.2.0
