---
http_interactions:
- request:
    method: put
    uri: https://dev.lunchmoney.app/v1/crypto/manual/7638
    body:
      encoding: UTF-8
      string: '{"balance":"2.000000000000000000"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3-HBvhFcJX1nIVRLhW7eU2gRmIojM"
    body:
      encoding: UTF-8
      string: '{"id":7638,"source":"manual","created_at":"2024-01-27T01:45:52.493Z","name":"Bitcoin","display_name":null,"balance":"2.000000000000000000","institution_name":null}'
  recorded_at: Sun, 23 Mar 2025 21:45:27 GMT
recorded_with: VCR 6.3.1
