---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/transactions/group
    body:
      encoding: UTF-8
      string: '{"date":"2024-01-30","payee":"Group Transaction","transactions":[898357857,898359936]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9-o5cCg2JCA/my1Au6QsYfh39ny2U"
    body:
      encoding: UTF-8
      string: '905483362'
  recorded_at: Tue, 30 Jan 2024 03:37:34 GMT
recorded_with: VCR 6.2.0
