---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/transactions/group
    body:
      encoding: UTF-8
      string: '{"date":"2024-01-30","payee":"Group Transaction","transactions":[898357857,898359936]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a-iWQbo/F3xdKSabiEzuxE/3zUJY0"
    body:
      encoding: UTF-8
      string: '2266193461'
  recorded_at: Sun, 23 Mar 2025 22:16:28 GMT
recorded_with: VCR 6.3.1
