---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/transactions
    body:
      encoding: UTF-8
      string: '{"transactions":[{"payee":"Gem Remote Testing","date":"2024-01-29","category_id":null,"notes":"Remote
        test at 2024-01-29 03:57:08 UTC","amount":"81.09477003457965","tags":null,"currency":null,"asset_id":null,"recurring_id":null,"status":null,"external_id":null}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13-hA+tP0s+l8nctBa62KT1I5/jsZE"
    body:
      encoding: UTF-8
      string: '{"ids":[897191731]}'
  recorded_at: Mon, 29 Jan 2024 03:57:08 GMT
recorded_with: VCR 6.2.0
