---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/transactions
    body:
      encoding: UTF-8
      string: '{"transactions":[{"payee":"Gem Remote Testing","date":"2025-03-23","category_id":null,"notes":"Remote
        test at 2025-03-23 22:17:27 UTC","amount":"23.35724153602298","tags":null,"currency":"cad","asset_id":null,"recurring_id":null,"status":"uncleared","external_id":null}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14-uz8uycsyXCy4BFgTJ6D6KLXXXcY"
    body:
      encoding: UTF-8
      string: '{"ids":[2266193482]}'
  recorded_at: Sun, 23 Mar 2025 22:17:27 GMT
recorded_with: VCR 6.3.1
