---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/transactions?end_date=2025-01-01&start_date=2019-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2489-CI3+uNK4VuRsLVZnbpOdqyV/Zwg"
    body:
      encoding: ASCII-8BIT
      string: '{"transactions":[{"id":893631800,"date":"2024-01-01","amount":"-10000.0000","currency":"cad","to_base":-10000,"payee":"Money
        Tree","category_id":777067,"category_name":"Job Income","category_group_id":777059,"category_group_name":"Income","is_income":true,"exclude_from_budget":true,"exclude_from_totals":false,"created_at":"2024-01-28T17:03:02.471Z","updated_at":"2024-01-28T17:03:05.819Z","status":"cleared","is_pending":false,"notes":null,"original_name":"Money
        Tree","recurring_id":null,"recurring_payee":null,"recurring_description":null,"recurring_cadence":null,"recurring_type":null,"recurring_amount":null,"recurring_currency":null,"parent_id":null,"has_children":false,"group_id":null,"is_group":false,"asset_id":92657,"asset_institution_name":null,"asset_name":"Infinite
        Cash","asset_display_name":"Infinite Cash","asset_status":"active","plaid_account_id":null,"plaid_account_name":null,"plaid_account_mask":null,"institution_name":null,"plaid_account_display_name":null,"plaid_metadata":null,"source":"manual","display_name":"Money
        Tree","display_notes":"","account_display_name":"Infinite Cash","tags":[],"external_id":null},{"id":893632336,"date":"2024-01-04","amount":"100.0000","currency":"cad","to_base":100,"payee":"Best
        Massage Provider","category_id":777078,"category_name":"Paramedical","category_group_id":777070,"category_group_name":"Personal
        Care Stuff","is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"created_at":"2024-01-28T17:04:00.981Z","updated_at":"2024-01-28T17:04:04.011Z","status":"cleared","is_pending":false,"notes":null,"original_name":"Best
        Massage Provider","recurring_id":null,"recurring_payee":null,"recurring_description":null,"recurring_cadence":null,"recurring_type":null,"recurring_amount":null,"recurring_currency":null,"parent_id":null,"has_children":false,"group_id":null,"is_group":false,"asset_id":92657,"asset_institution_name":null,"asset_name":"Infinite
        Cash","asset_display_name":"Infinite Cash","asset_status":"active","plaid_account_id":null,"plaid_account_name":null,"plaid_account_mask":null,"institution_name":null,"plaid_account_display_name":null,"plaid_metadata":null,"source":"manual","display_name":"Best
        Massage Provider","display_notes":"","account_display_name":"Infinite Cash","tags":[{"name":"Massage
        Therapy","id":75876}],"external_id":null},{"id":893634954,"date":"2024-01-15","amount":"-1000000.0000","currency":"cad","to_base":-1000000,"payee":"Money
        Tree","category_id":777067,"category_name":"Job Income","category_group_id":777059,"category_group_name":"Income","is_income":true,"exclude_from_budget":true,"exclude_from_totals":false,"created_at":"2024-01-28T17:04:53.217Z","updated_at":"2024-01-28T17:04:53.217Z","status":"cleared","is_pending":false,"notes":null,"ori[...]
