---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/transactions/group?transaction_id=894063595
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e9-qXQTzSQIyt/Sk/E+s49fF3ajdCs"
    body:
      encoding: ASCII-8BIT
      string: '{"id":894063595,"date":"2024-01-28","amount":"0","currency":"cad","to_base":0,"payee":"Transfer","category_id":777019,"category_name":"Payment,
        Transfer","category_group_id":777017,"category_group_name":"Banking","is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"created_at":"2024-01-28T18:26:44.724Z","updated_at":"2024-01-28T18:26:44.724Z","status":"cleared","is_pending":false,"notes":null,"original_name":null,"recurring_id":null,"recurring_payee":null,"recurring_description":null,"recurring_cadence":null,"recurring_granularity":null,"recurring_quantity":null,"recurring_type":null,"recurring_amount":null,"recurring_currency":null,"parent_id":null,"has_children":false,"group_id":null,"is_group":true,"asset_id":null,"asset_institution_name":null,"asset_name":null,"asset_display_name":null,"asset_status":null,"plaid_account_id":null,"plaid_account_name":null,"plaid_account_mask":null,"institution_name":null,"plaid_account_display_name":null,"plaid_metadata":null,"source":"user","display_name":"Transfer","display_notes":null,"account_display_name":"","tags":[],"children":[{"id":894063594,"payee":"Transfer","amount":"-100.0000","currency":"cad","date":"2024-01-28","formatted_date":"2024-01-28","notes":null,"asset_id":92657,"plaid_account_id":null,"to_base":-100},{"id":894063593,"payee":"Transfer","amount":"100.0000","currency":"cad","date":"2024-01-28","formatted_date":"2024-01-28","notes":null,"asset_id":null,"plaid_account_id":null,"to_base":100}],"external_id":null}'
  recorded_at: Sun, 25 Aug 2024 20:04:44 GMT
recorded_with: VCR 6.3.1
