---
http_interactions:
- request:
    method: put
    uri: https://dev.lunchmoney.app/v1/transactions/904778058
    body:
      encoding: UTF-8
      string: '{"split":[{"payee":null,"date":null,"category_id":null,"notes":null,"amount":"10.00"},{"payee":null,"date":null,"category_id":null,"notes":null,"amount":"47.54"}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30-bTYgWe0CUGYLugWfgytqacxIElc"
    body:
      encoding: UTF-8
      string: '{"updated":true,"split":[2266193428,2266193429]}'
  recorded_at: Sun, 23 Mar 2025 22:15:37 GMT
recorded_with: VCR 6.3.1
