---
http_interactions:
- request:
    method: put
    uri: https://dev.lunchmoney.app/v1/transactions/897349559
    body:
      encoding: UTF-8
      string: '{"split":[{"payee":null,"date":null,"category_id":null,"notes":null,"amount":"10.00"},{"payee":null,"date":null,"category_id":null,"notes":null,"amount":"43.05"}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e-K/mrRLu2MZbxcKiu/g6RTztRQOA"
    body:
      encoding: UTF-8
      string: '{"updated":true,"split":[905088011,905088012]}'
  recorded_at: Tue, 30 Jan 2024 02:30:56 GMT
recorded_with: VCR 6.2.0
