---
http_interactions:
- request:
    method: put
    uri: https://dev.lunchmoney.app/v1/transactions/897349559
    body:
      encoding: UTF-8
      string: '{"transaction":{"payee":"Gem Remote Testing","date":"2025-03-23","category_id":null,"notes":"Remote
        test at 2025-03-23 22:15:24 UTC","amount":"19.48097504782293","tags":null,"currency":"cad","asset_id":null,"recurring_id":null,"status":"cleared","external_id":null}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10-dkPpo4JFIcQ3LWuPXbQ1isdU9JU"
    body:
      encoding: UTF-8
      string: '{"updated":true}'
  recorded_at: Sun, 23 Mar 2025 22:15:25 GMT
recorded_with: VCR 6.3.1
