---
http_interactions:
- request:
    method: put
    uri: https://dev.lunchmoney.app/v1/transactions/897349559
    body:
      encoding: UTF-8
      string: '{"transaction":{"payee":"Gem Remote Testing","date":"2024-01-30","category_id":null,"notes":"Remote
        test at 2024-01-30 02:09:50 UTC","amount":"53.06183213052521","tags":null,"currency":"cad","asset_id":null,"recurring_id":null,"status":"cleared","external_id":null}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10-dkPpo4JFIcQ3LWuPXbQ1isdU9JU"
    body:
      encoding: UTF-8
      string: '{"updated":true}'
  recorded_at: Tue, 30 Jan 2024 02:09:51 GMT
recorded_with: VCR 6.2.0
