---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/budgets?end_date=2024-01-01&start_date=2023-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"558e-TWXUKmim1+UsLp4tj1Na9jXmtFo"
    body:
      encoding: ASCII-8BIT
      string: '[{"category_name":"Uncategorized","category_id":null,"is_group":false,"group_id":null,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"archived":false,"data":{"2023-01-01":{}},"config":null,"order":0},{"category_name":"Uncategorized","category_id":null,"is_group":false,"group_id":null,"is_income":true,"exclude_from_budget":false,"exclude_from_totals":false,"archived":false,"data":{"2023-01-01":{}},"config":null,"order":1},{"category_name":"Banking","category_id":777017,"category_group_name":null,"group_id":null,"is_group":true,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"order":2,"archived":false,"data":{"2023-01-01":{"num_transactions":0,"spending_to_base":0}},"config":null},{"category_name":"Bank
        Fees","category_id":777018,"category_group_name":"Banking","group_id":777017,"is_group":null,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"order":3,"archived":false,"data":{"2023-01-01":{"num_transactions":0,"spending_to_base":0}},"config":null},{"category_name":"Payment,
        Transfer","category_id":777019,"category_group_name":"Banking","group_id":777017,"is_group":null,"is_income":false,"exclude_from_budget":fal[...]
