---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/recurring_items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29c-4V+wKJszCutpVfEbhL1kGf7zZS4"
    body:
      encoding: UTF-8
      string: '[{"id":697462,"start_date":"2023-01-01","end_date":null,"payee":"Expense
        that Recurs","currency":"cad","created_by":7344,"created_at":"2024-01-28T15:29:58.922Z","updated_at":"2024-01-28T15:29:58.922Z","billing_date":"2024-01-01","original_name":null,"description":null,"plaid_account_id":null,"asset_id":92657,"source":"manual","amount":"250.0000","notes":null,"category_id":777049,"category_group_id":777042,"is_income":false,"exclude_from_totals":false,"cadence":"monthly","granularity":"month","quantity":1,"occurrences":{"2025-09-01":[],"2025-10-01":[]},"transactions_within_range":[],"missing_dates_within_range":["2025-09-01"],"date":"2025-09-04","to_base":250}]'
  recorded_at: Thu, 04 Sep 2025 00:18:48 GMT
recorded_with: VCR 6.3.1
