---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/categories/group/784588/add
    body:
      encoding: UTF-8
      string: '{"category_ids":[],"new_categories":["New Category Test"]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"167-GLJvrW2cDAh4fTOKdZPUVe9uWVo"
    body:
      encoding: UTF-8
      string: '{"id":784588,"name":"Create Category Group Test","description":null,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"is_group":true,"group_id":null,"children":[{"id":784589,"name":"New
        Category Test","description":null,"created_at":"2024-01-30T21:31:43.878Z","archived":false,"archived_on":null}],"archived":false,"archived_on":null}'
  recorded_at: Tue, 30 Jan 2024 21:31:43 GMT
recorded_with: VCR 6.2.0
