---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/categories/777052
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6-sCC5KTmvS1RnH9fm6MG318SWUfc"
    body:
      encoding: UTF-8
      string: '{"id":777052,"name":"Auto Payment","description":null,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"is_group":false,"group_id":777050,"group_category_name":"Household","archived":false,"archived_on":null,"order":null}'
  recorded_at: Sun, 28 Jan 2024 16:25:48 GMT
recorded_with: VCR 6.2.0
