---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/categories?format=nested
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6929-TdIcDQlfreqIfb8DG76uyk7/C90"
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[{"id":780952,"name":"Ungrouped Category","description":null,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"updated_at":"2024-01-28T17:27:35.159Z","created_at":"2024-01-28T17:27:35.159Z","is_group":false,"group_id":null,"archived":false,"archived_on":null,"order":0},{"id":777017,"name":"Banking","description":null,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"updated_at":"2024-01-26T19:09:24.963Z","created_at":"2024-01-26T19:09:24.963Z","is_group":true,"group_id":null,"archived":false,"archived_on":null,"order":null,"children":[{"id":777018,"name":"Bank
        Fees","description":"Any fees related to banking like account fees and credit
        card interest","is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"updated_at":"2024-01-26T19:09:24.973Z","created_at":"2024-01-26T19:09:24.973Z","is_group":false,"group_id":777017,"archived":false,"archived_on":null,"order":null},{"id":777019,"name":"Payment,
        Transfer","description":"Moving between accounts, generally should not result
        i[...]
