---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/categories/777021
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"687-av+/oI00OSbHSSNQSgpuQzXlZgE"
    body:
      encoding: ASCII-8BIT
      string: '{"id":777021,"name":"Entertainment","description":null,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"is_group":true,"group_id":null,"children":[{"id":777022,"name":"Activities","description":"Activities
        like mini-golf, Dave &amp; Busters, etc.","created_at":"2024-01-26T19:09:25.006Z","archived":false,"archived_on":null},{"id":777023,"name":"Alcohol","description":"Alcohol
        purchases","created_at":"2024-01-26T19:09:25.015Z","archived":false,"archived_on":null},{"id":777024,"name":"App
        Purchases","description":"One time application or in-app purchases","created_at":"2024-01-26T19:09:25.024Z","archived":false,"archived_on":null},{"id":777025,"name":"Bars,
        Clubs","description":"Bar, Clubs, etc expenses","created_at":"2024-01-26T19:09:25.032Z","archived":false,"archived_on":null},{"id":777026,"name":"Books","description":"Digital
        or Physical Book Purchases","created_at":"2024-01-26T19:09:25.040Z","archived":false,"archived_on":null},{"id":777028,"name":"Gaming","description":"Gaming
        - digital and physical like board&#x2F;card game expenses","created_at":"2024-01-26T19:09:25.058Z","archived":false,"archived_on":null},{"id":777029,"name":"Media","description":"Digital
        Media related purchases","created_at":"2024-01-26T19:09:25.067Z","archived":false,"archived_on":null},{"id":777030,"name":"Misc.
        Entertainment","description":"General entertainment expenses","created_at":"2024-01-26T19:09:25.075Z","archived":false,"archived_on":null},{"id":777031,"name":"Movies","description":"Movie
        theatre expenses","created_at":"2024-01-26T19:09:25.084Z","archived":false,"archived_on":null}],"archived":false,"archived_on":null,"order":null}'
  recorded_at: Sun, 23 Mar 2025 22:00:27 GMT
recorded_with: VCR 6.3.1
