---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/categories
    body:
      encoding: UTF-8
      string: '{"name":"Create Category Test","description":null,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"archived":false,"group_id":null}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16-hy/zK1fZzGmJnr4NHsZqg8oxW8M"
    body:
      encoding: UTF-8
      string: '{"category_id":784587}'
  recorded_at: Tue, 30 Jan 2024 21:20:23 GMT
recorded_with: VCR 6.2.0
