---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/categories
    body:
      encoding: UTF-8
      string: '{"name":"Create Category Test","is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"archived":false}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17-NB15BZ0ejlluR4md4iEBSptYj+8"
    body:
      encoding: UTF-8
      string: '{"category_id":1446014}'
  recorded_at: Sun, 23 Mar 2025 22:12:22 GMT
recorded_with: VCR 6.3.1
