---
http_interactions:
- request:
    method: post
    uri: https://dev.lunchmoney.app/v1/categories/group
    body:
      encoding: UTF-8
      string: '{"name":"Create Category Group Test","description":null,"is_income":false,"exclude_from_budget":false,"exclude_from_totals":false,"category_ids":[],"new_categories":[]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16-n+83QPrtwcQpPOQLBH0K5LK6sbM"
    body:
      encoding: UTF-8
      string: '{"category_id":784588}'
  recorded_at: Tue, 30 Jan 2024 21:23:29 GMT
recorded_with: VCR 6.2.0
