---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/plaid_accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"216-8yp+trTUYxZDOk6Xwo+E4dE1qGc"
    body:
      encoding: UTF-8
      string: '{"plaid_accounts":[{"id":120855,"date_linked":"2025-03-23","name":"Tangerine
        Savings Account","display_name":"Tangerine - Personal Tangerine Savings Account","type":"depository","subtype":"savings","mask":"0655","institution_name":"Tangerine
        - Personal","status":"relink","limit":null,"balance":"0.0000","to_base":0,"currency":"cad","balance_last_update":"2024-09-21T21:05:25.299Z","import_start_date":"2023-10-30","last_import":null,"last_fetch":"2025-02-04T21:05:42.562Z","plaid_last_successful_update":"2024-09-17T02:16:48.321Z"}]}'
  recorded_at: Sun, 23 Mar 2025 21:47:15 GMT
recorded_with: VCR 6.3.1
