---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/plaid_accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1dc-07EWTZqfak/MrP5oeRodWvj0XfM"
    body:
      encoding: UTF-8
      string: '{"plaid_accounts":[{"id":120855,"date_linked":"2024-01-28","name":"Tangerine
        Savings Account","display_name":"","type":"depository","subtype":"savings","mask":"0655","institution_name":"Tangerine
        - Personal","status":"active","limit":null,"balance":"0.0000","currency":"cad","balance_last_update":"2024-01-28T05:22:29.425Z","import_start_date":"2023-10-30","last_import":null,"last_fetch":"2024-01-28T05:22:29.428Z","plaid_last_successful_update":"2024-01-28T05:22:06.812Z"}]}'
  recorded_at: Sun, 28 Jan 2024 05:23:56 GMT
recorded_with: VCR 6.2.0
