---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b4-2R3HWqV6FCeIHsTcPc2dVwLkfQM"
    body:
      encoding: UTF-8
      string: '{"user_name":"<USER_NAME>","user_email":"<USER_EMAIL>","user_id":7344,"account_id":37512,"budget_name":"Development
        Budget","api_key_label":"Gem Development"}'
  recorded_at: Sat, 27 Jan 2024 01:33:23 GMT
recorded_with: VCR 6.2.0
