---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd-TCciWbZEyNCHjkejH/ueoBJV2sw"
    body:
      encoding: UTF-8
      string: '{"user_name":"<USER_NAME>","user_email":"<USER_EMAIL>","user_id":7344,"account_id":37512,"budget_name":"Development
        Budget","primary_currency":"cad","api_key_label":"Gem Development"}'
  recorded_at: Sun, 23 Mar 2025 21:46:23 GMT
recorded_with: VCR 6.3.1
