---
http_interactions:
- request:
    method: get
    uri: https://dev.lunchmoney.app/v1/recurring_expenses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18a-UiaymR3wKf+q982BdVMqV9OoVEQ"
    body:
      encoding: UTF-8
      string: '{"recurring_expenses":[{"id":697462,"start_date":"2023-01-01","end_date":null,"cadence":"monthly","payee":"Expense
        that Recurs","amount":"250.0000","currency":"cad","created_at":"2024-01-28T15:29:58.922Z","description":null,"billing_date":"2024-01-01","type":"cleared","original_name":null,"source":"manual","plaid_account_id":null,"asset_id":92657,"category_id":777049,"transaction_id":null}]}'
  recorded_at: Sun, 28 Jan 2024 15:30:10 GMT
recorded_with: VCR 6.2.0
